.footer {
  border-top: 1px solid hsla(0, 0%, 100%, 0.0784313725490196);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 1rem;
  gap: 1rem;
  margin-top: 2rem;
}
.footer > .footer_logo {
  padding-right: 3rem;
}
.footer > ul {
  display: flex;
  gap: 2rem;
  align-items: center;
}
.footer > ul > li {
  list-style: none;
  cursor: pointer;
}
.footer > .tools {
  display: flex;
  gap: 2rem;
  padding-bottom: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
